/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor

.env
.env.*
!.env.example

Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.codex

*.sqlite
*.sqlite3
*.db
data/*.sqlite
data/*.sqlite3
data/*.db

/storage/app/private/*
!/storage/app/private/.gitignore
!/storage/app/private/.gitkeep
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitignore
!/storage/framework/cache/data/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
!/storage/framework/sessions/.gitkeep
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
!/storage/framework/testing/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitignore
!/storage/framework/views/.gitkeep
/storage/logs/*
!/storage/logs/.gitignore
!/storage/logs/.gitkeep
